.box-reviews {
  width: 100%;
  min-height: 650px;
  height: 100%;
}

.box-reviews__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.box-reviews__item {
  width: 25%;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.reviews-item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 17% 7% 7%;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  filter: blur(100px);
  transition: .6s;
  font-size: 14px;

  &__name {
    font-family: Gagalin;
    font-weight: 400;
    margin-bottom: 18px;
  }

  &__comment {
    overflow: hidden;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 14px;
  }

  &__link {
    font-size: 13px;
    font-weight: 500;
    @include btn(8px,15px,5px,#2f3234);
  }

  &__link:hover {
    background-color: darken(#2f3234, 5%)
  }

  .box-reviews__item:hover & {
    filter: blur(0);
    background-color: rgba(0, 0, 0, .6);
    transition: .6s;
  }
}



.box-reviews__photo {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  filter:  grayscale(1);

  .box-reviews__item:hover & {
    transition: 1s;
    filter:  grayscale(0);
  }
}





