.box-menu {
  background-image: url(../img/content/menu_bg.jpg) ;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  justify-content: space-between;

  &__title-container {
    padding-left: convert_rem(95px);
    padding-top: convert_rem(81px);
  }

  &__title {
    @include text-header(#fff);

  }

  &__list {
    display: flex;
    height: 100%;
    justify-content:flex-end;

    opacity: 0.93;

    @include media_768 {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__item {
    display: flex;
    background-color: #2f3234;
  }

  &__link {
    display: block;
    min-width: convert_rem(80px);
    width: convert_rem(80px);
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(47,50,52,.6);
      transition: 0.3s;
    }

    &:hover:before {
      background-color: rgba(47,50,52,.7);
      transition: 0.3s;
    }
  }

  &__link-text {
    display: block;

    width: convert_rem(650px);
    position: absolute;
    top: 50%;
    left: convert_rem(-285px);
    margin-top: convert_rem(-40px);
    text-align: center;
    transform: rotate(-90deg);

    color: #ffffff;
    font-family: Gagalin;
    font-size: convert_rem(40px);
    font-weight: 400;
    white-space: nowrap;
  }

  &__content{
    width: 0;
    display: block;
    color: #ffffff;
    font-size: convert_rem(14px);
    font-weight: 300;
    line-height: convert_rem(24px);
    overflow: hidden;
    transition: 0.5s;
  }
  &__text{
    transition: 0.3s;
    opacity: 0;
    padding: convert_rem(62px) convert_rem(37px) 0 convert_rem(33px);

    @include media_768 {
      text-align: justify;
    }
  }

}


.box-menu__item_active .box-menu__content{
  width: convert_rem(540px);
  transition: 0.5s;
  .box-menu__text {
    display: block;
    transition: 3s;
    opacity: 1;
  }

  @include media_768 {
    width: 100%;
  }
}



