.box-best {
  background-color: #0000;
  background-image: url("../img/content/wood-texture.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  padding-top: convert_rem(6px);



  &__cheese {
    min-width: convert_rem(300px);
    min-height: convert_rem(300px);
    background-image: url(../img/content/cheese.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: convert_rem(-144px);
    top: convert_rem(23px);
    z-index: -1;

    @include media_768 {
      display: none;
    }
  }

  &__products {
    min-width: convert_rem(100px);
    min-height: convert_rem(100px);
    background-image: url(../img/content/products.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: convert_rem(188px);
    left: convert_rem(-42px);
    z-index: -2;

    @include media_768 {
      display: none;
    }
  }

  &__tomato {
    min-width: convert_rem(427px);
    min-height: convert_rem(392px);
    background-image: url(../img/content/tomato.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: convert_rem(-260px);
    left: convert_rem(73px);
    transform: rotate(27deg);
    z-index: -1;
  }

  &__lettuce {
    min-width: convert_rem(517px);
    min-height: convert_rem(399px);
    background-image: url(../img/content/lettuce.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    right: convert_rem(-353px);
    top: convert_rem(33px);
    transform: rotate(27deg);
    z-index: -1;

    @include media_768 {
      display: none;
    }
  }

  &__tomato2 {
    min-width: convert_rem(263px);
    min-height: convert_rem(267px);
    background-image: url(../img/content/tomato2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: convert_rem(-125px);
    right: convert_rem(-70px);
    z-index: -1;
  }

  &__cheese2 {
    min-width: convert_rem(581px);
    min-height: convert_rem(581px);
    background-image: url(../img/content/cheese2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: convert_rem(-285px);
    right: convert_rem(-62px);
    z-index: -2;

  }
}
.box-best__title {
  @include text-header($m_bottom:65px);

  @include media_480 {
    margin-bottom: 5%;
    text-align: center;
  }
}

.box-best__list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;

  @include media_480 {
    flex-direction: column;
    align-items: center;
  }
}

.item-list {
  max-width: calc(100%/3 - 10px);
  height: 100%;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;

  @include media_480 {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 3%;

  }

  &__logo {
    width: 100%;
    //min-width: convert_rem(97px);
    //min-height: convert_rem(89px);
    margin-bottom: convert_rem(32px);
    flex: 1;

    @include media_480 {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__title {
    //color: #2f3234;
    font-family: Lifehack;
    font-size: convert_rem(24px);
    font-weight: 500;
    margin-bottom: convert_rem(14px);
    line-height: 1.2;
    display: block;

  }

  &__text {
    display: block;
    opacity: 0.8;
    //color: #2f3234;
    //font-family: Ubuntu;
    font-size: convert_rem(14px);
    font-weight: 300;
    line-height: convert_rem(24px);
  }
}


.logo-pic {
  width: convert_rem(97px);
  height: convert_rem(89px);
  &_red {
    fill: #e25028;
  }
  &_yello  {
    fill: #f8b43a;
  }
  &_green {
    fill: #8ac03e;
  }
}
