.box-best {
  background-color: #0000;
  background-image: url("../img/content/wood-texture.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  padding-top: 6px;

  &__cheese {
    min-width: 300px;
    min-height: 300px;
    background-image: url(../img/content/cheese.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -144px;
    top: 23px;
    z-index: -1;
  }

  &__products {
    min-width: 100px;
    min-height: 100px;
    background-image: url(../img/content/products.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 188px;
    left: -42px;
    z-index: -2;
  }

  &__tomato {
    min-width: 427px;
    min-height: 392px;
    background-image: url(../img/content/tomato.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -260px;
    left: 73px;
    transform: rotate(27deg);
    z-index: -1;
  }

  &__lettuce {
    min-width: 517px;
    min-height: 399px;
    background-image: url(../img/content/lettuce.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    right: -353px;
    top: 33px;
    transform: rotate(27deg);
    z-index: -1;
  }

  &__tomato2 {
    min-width: 263px;
    min-height: 267px;
    background-image: url(../img/content/tomato2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -125px;
    right: -70px;
    z-index: -1;
  }

  &__cheese2 {
    min-width: 581px;
    min-height: 581px;
    background-image: url(../img/content/cheese2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -285px;
    right: -62px;
    z-index: -2;

  }
}
.box-best__title {
  color: #2f3234;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 65px;
}

.box-best__list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.box-best__item {
  max-width: 33.2%;
  height: 100%;
  text-align: center;
  z-index: 1;
  margin-bottom: 14%;
  display: flex;
  flex-flow: column;
}
.best-item__logo {
  width: 100%;
  min-width: 97px;
  min-height: 89px;
  margin-bottom: 32px;
}

.best-img__meat {
  background-image: url(../img/icons/meat.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  //background-position: center;
}

.best-img__hand {
  background-image: url(../img/icons/hand.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.best-img__natural {
  background-image: url(../img/icons/natural.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.item-text__title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
  line-height: 1.2;
  display: block;

}

.item-text__body {
  display: block;
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
