.box-order {
  background-image: url(../img/content/order_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  &__title {
    @include text-header($orange,65px);
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}

form {
  width: 100%;
  height: 100%;
}

.order-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  @include media_768 {
    flex-direction: column;
    margin:0 auto;
    width: 75%;

  }

}

.form-left, .form-right {
  flex: 1;
  margin-right: convert_rem(20px);
  &:last-child {
    margin-right: 0;
  }
  @include media_768 {
    margin-right: 0;
    margin-bottom: convert_rem(20px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: convert_rem(15px);
  &:last-child {
    margin-bottom: 0;
  }
}

.input-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: convert_rem(20px);

  &:last-child {
    margin-right: 0;
  }

  &__text {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: convert_rem(14px);
    font-weight: 300;
    margin-bottom: convert_rem(7px);
  }
  &__input {
    width: 100%;
    font-size: convert_rem(16px);
    padding: convert_rem(6px);
    border-radius: convert_rem(5px);
    background-color: #ffffff;
    border: convert_rem(2px) solid transparent;

    &:focus {
      border: convert_rem(2px) solid #f9b43b;
      box-shadow: 0 0 convert_rem(5px) rgba(249, 180, 59, 0.7);
      outline: none;
    }
  }

  &__textarea {
    //width: convert_rem(460px);
    height: convert_rem(109px);
    padding: convert_rem(5px);
    border-radius: convert_rem(5px);
    border: convert_rem(2px) solid transparent;
    background-color: #ffffff;
    resize: none;
    margin-bottom: convert_rem(3px);

    &:focus {
      border: convert_rem(2px) solid #f9b43b;
      box-shadow: 0 0 convert_rem(5px) rgba(249, 180, 59, 0.7);
      outline: none;
    }
  }

  &__label-radio {
    display: flex;
    cursor: pointer;
    margin-right: convert_rem(21px);
    color: #fff;
    font-size: convert_rem(14px);
    font-weight: 300;
    &:last-child {
      margin-right: 0;
    }
  }

  &__radio-fake {
    width: convert_rem(15px);
    height: convert_rem(15px);
    border-radius: 50%;
    background-color: #ffffff;
    //border: 1px solid #c9c9c9;
    position: relative;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: convert_rem(10px);

    &:before {
      content: '';
      width: convert_rem(7px);
      height: convert_rem(7px);
      background-color: #e35028;
      border-radius: 50%;
      transform: scale(0);
      transition: .3s;
    }

  }

  &__radio-btn {
    display: none;
    &:checked + .input-form__radio-fake:before {
      transform: scale(1);
      transition: .3s;
    }

  }

  &__checkbox-fake {
    display: inline-block;
    width: convert_rem(15px);
    height: convert_rem(15px);
    background-color: #ffffff;
    position: relative;
    vertical-align: bottom;
    //display: flex;
    //justify-content:center;
    //align-items: center;
    margin-right: convert_rem(10px);
    position: relative;

    &:before {
      content: "";
      width: convert_rem(9px);
      height: convert_rem(6px);
      border-bottom: convert_rem(3px) solid #e35028;
      border-left: convert_rem(3px) solid #e35028;
      transform: rotate(-45deg) scale(0);
      transition: 0.3s;
      position: absolute;
      left: 23%;
      top: 25%;

    }
  }

  &__checkbox-btn {
    display: none;

    &:checked + .input-form__checkbox-fake:before {
      transform: rotate(-45deg) scale(1);
      transition: 0.3s;

    }

  }
}

.order-form__btn {
  @include btn(10px, 15px, 5px, #e45028);
  font-size: convert_rem(13px);
  font-weight: 500;
  border: none;

  &:hover {
    background-color: darken(#e45028, 5%);
  }

  &-res {
    padding: 0;
    margin-left: convert_rem(20px);
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: convert_rem(13px);
    font-weight: 500;

  }
}

