.box-reviews {
  width: 100%;
  height: 100%;
}

.box-reviews__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.box-reviews__item {
  width: 25%;
  height: 50%;
  overflow: hidden;
  position: relative;

  @include media_768 {
    width: 50%;
    height: 25%;
  }
}

.reviews-item {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 17% 7% 7%;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;

  @include media {
    filter: blur(convert_rem(100px));
    transition: .6s;
    font-size: convert_rem(14px);
  }


  @include media_768 {
    align-items: center;
    justify-content: center;
    padding: 3%;
    text-align: center;
    transform: scale(0);
    transition: .3s;
  }



  &__name {
    font-family: Gagalin;
    font-weight: 400;
    margin-bottom: convert_rem(18px);

    @include media_768 {
      margin-bottom: convert_rem(10px);
    }
  }

  &__comment {
    display: inline-block;
    overflow: hidden;
    font-weight: 300;
    line-height: convert_rem(24px);
    margin-bottom: convert_rem(14px);

    @include media_768 {
      line-height: convert_rem(20px);
      margin-bottom: convert_rem(13px);
    }

    @include media_480 {
      display: none;
    }
  }

  &__link {
    font-size: convert_rem(13px);
    font-weight: 500;
    @include btn(8px,15px,5px,#2f3234);
  }

  &__link:hover {
    background-color: darken(#2f3234, 5%);
  }

  .box-reviews__item:hover & {
    background-color: rgba(0, 0, 0, .6);

    @include media {
      filter: blur(0);
      transition: .6s;
    }

    @include media_768 {
      transform: scale(1);
      transition: 0.3s;
    }
  }
}



.box-reviews__photo {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  filter:  grayscale(1);

  .box-reviews__item:hover & {
    @include media{
      transition: 1s;
      filter:  grayscale(0);
    }

  }
}





