.points {
  position: fixed;
  top: 13.7%;
  right: 4.5%;
  //z-index: 10;

  &__list {
    list-style: none;
    width: 100%;
  }
}

.points__item {
  margin-bottom: convert_rem(5px);

  &:last-child {
    padding-bottom: 0;
  }
}

.point__link {
  display: block;
  width: convert_rem(16px);
  height: convert_rem(16px);
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: convert_rem(-3px);
    margin-top: convert_rem(-3px);
    @include circle(6px, #fff);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include position_a(6px,6px);
    border: convert_rem(1px) solid #ffffff;
    border-radius: 50%;
    transition: 0.3s;
  }

  &:hover:after {
    width: convert_rem(16px);
    height: convert_rem(16px);
    transform: translate(convert_rem(-5px), convert_rem(-5px));
    transition: 0.3s;
  }

}

.points__item_active .point__link:after {
  transform: translate(0);
  @include position_a(16px,16px);
  cursor: default;
}
