html {
  @include media_all {
    font-size: 16px;
  }

  @include media_940 {
    font-size: 15px;
  }

  @include media_768 {
    font-size: 16px;
  }

  @include media_480 {
    font-size: 13px;
  }

  @include media_320 {
    font-size: 12px;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.42;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}