body {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  color: $color-text;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.mycontent {
  height: 100%;
}

.box {
  position: relative;
  height: 100%;
  min-height: convert_rem(650px);
  display: flex;
  overflow: hidden;
}

.container {
  max-width: convert_rem(940px);
  width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 0;
}

